
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'EB Garamond', serif;
    display: block;
}
html{
    scroll-behavior: smooth;
}
#showcase{
    background: 
    linear-gradient(to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)),
    url('../img/bg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 88vh;
    width: 100%;
    position: relative;
}
#showcase .content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 30px;
    background: rgba(46, 76, 109, 0.3);
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}
.main-header{
    background-color:#9BA4B4;
    padding: 8px 16px;
}
.main-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}
.main-header__logo{
    color:#59405C;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 129px);
    /* 73 olsa sigmaz asagi atardi. 74 ve ustu oluyor */
}
.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav__item{
    display: inline-block;
    margin: 0 10px;
    /* bitisikti ayrildi. Her bir item margini */
}
.main-nav__item a{
    color: #fff;
    text-decoration: none;
}
.main-nav__item:active::before, .main-nav__item a:active{
    color:#AEBDCA;
}
.main-nav__item:hover::before, .main-nav__item a:hover{
    color:#59405C;
}
.main-nav__item::before{
    content: '\2022	';
    color: #fff;
}
.main-nav__item--login a:hover{
    color:#59405C;
}
.main-nav__item--login::before{
    content: none;
}
#how-it-works{
    text-align: center;
    padding: 10px;
}
.row{
    margin-bottom: 40px;
}

/* clearfix yerine kullandik */ 
/* 5 saat aradigin hata : bütün divlerin top noktası how_it_works 'teydi */
.row::after{
    content:"";
    display: block;
    clear: both;
}
.col-3{
    /* alt alta olmasını engeller yan yana koyar */
    width: 33.3%;
    float: left;
}
.col-2{
    width: 50%;
    float: left;
}
.icon-box{
    padding: 10px;
}
.icon-box h3{
    color:#59405C;
    font-weight: bold;
}
.icon-box i{
    color: #AEBDCA;
    font-size: 25px;
}

.features__left{
    background: 
    linear-gradient(to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)),
    url("../img/features.jpeg");
    background-size: cover;
    background-position: top center;
}

.features__right{
    background-color: #edf5f7;
    padding: 40px;
    vertical-align: top;
}

.features__left,
.features__right{
    height: 350px;
}

#features a{
    margin-top: 5px;
}
#features a:hover{
    margin-top: 5px;
}
.features__right h3{
    color: #59405C;
    font-size: 30px;
}
.section-title {
    text-align: center;
    margin-bottom: 40px;
    color: #59405C;
    font-size: 30px;
}
.plan{
    text-align: center;
    padding: 5px;
}
.plan h2, .plan h3{
    color: #59405C;
}
.plan__badge{
    background-color:#edf5f7;
    border-radius: 5px;
    padding: 8px;
    border: 2px solid #59405C;
}
.recommended-plan{
    background-color:#AEBDCA !important;
}
.inner-plan{
    background-color: #edf5f7;
    padding: 25px 10px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    transition: box-shadow .3s;
}
.inner-plan:hover{
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}
/* h2 ve h3 icin ayrı konum belirtmen lazim sadece h3 algilar */

/* .section-title{
    font-size: 30px;
    text-align: center;
    color: #59405C;
    margin-bottom: 40px ;
} */
.plan__features{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.plan__features li{
    margin: 6px 0 ;
}
.plan__featured{
    position: relative;
    top: -20px;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.container{
    /* sagdan soldan esit bosluk birakir */
    margin:0 auto;
    width: 1000px;
}
#scrolling{
    content: '\&#xf0aa';
    position: sticky;
    left: 97%;
    bottom: 10px;
}
#scrolling i{
    color: #926996;
}
#scrolling i:hover{
    color: #59405C;
    transition: color .4s;
}
.counter {
    background: linear-gradient(to bottom, #9BA4B4 0%,  #6e7b91 100%);
    text-align: center;
    padding: 30px;
    height: 124px;
}

.counter__item {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.counter h4 {
    margin: 0;
    color: #fff;
}
#plans{
    margin-bottom: 40px;
}